/* Style the scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Adjust width for vertical scrollbar */
  height: 7px; /* Adjust height for horizontal scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker shade on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

/* Dark scrollbar */

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Adjust width for vertical scrollbar */
  height: 7px; /* Adjust height for horizontal scrollbar */
}

/* Handle */
.dark ::-webkit-scrollbar-thumb {
  background: #3f3f3f; /* Color of the scroll thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Handle on hover */
.dark ::-webkit-scrollbar-thumb:hover {
  background: #5b5b5b; /* Darker shade on hover */
}

/* Track */
.dark ::-webkit-scrollbar-track {
  background: linear-gradient(to top, #121212, #1a1a1a); /* Transparent track */
}

/* Firefox support */
:root {
  scrollbar-width: thin; /* or "none" if you don't want to display them */
  scrollbar-color: #888 transparent; /* thumb and track color */
}

/* Font setup */
body {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

/* Article styles */
#blogContent p {
  margin-bottom: 1.1rem;
}

#blogContent ul {
  list-style: outside;
  margin-left: 1.5rem;
}

#blogContent h2,
h3,
h5,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#blogContent h2 {
  font-size: 2rem;
}

#blogContent h3 {
  font-size: 1.5rem;
}

#blogContent h4 {
  font-size: 1.25rem;
}

#blogContent h5 {
  font-size: 1.15rem;
}

#blogContent h6 {
  font-size: 1rem;
}

/* GLOBAL STYLES */
blockquote {
  font:
    14px/22px normal helvetica,
    sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}
