---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
  <div class='max-w-3xl'>
    <h1 class='text-2xl font-bold mb-6'>About This App</h1>

    <p class='mb-4'>
      This application has been crafted with the intention of diving deep into modern web technologies. It is a
      reflection of my curiosity and drive to constantly evolve as a developer.
    </p>

    <h2 class='text-xl font-semibold mb-4'>Technologies Used:</h2>

    <ul class='list-disc pl-5 mb-4'>
      <li class='mb-2'>
        <span class='font-bold'>Astro:</span> A cutting-edge framework that allows for faster, optimized web
        development.
      </li>
      <li class='mb-2'>
        <span class='font-bold'>Contentful:</span> A powerful headless CMS, which provides the flexibility to manage
        content seamlessly.
      </li>
      <li class='mb-2'>
        <span class='font-bold'>React:</span> A popular library for building user interfaces in a scalable and efficient
        way.
      </li>
      <li>
        <span class='font-bold'>Tailwind CSS:</span> A utility-first CSS framework that allows for rapid UI development.
      </li>
    </ul>

    <p>
      As I continue on this journey of exploration and learning, I am excited to further harness the capabilities of
      these tools and incorporate even more innovative solutions into this application.
    </p>
  </div>
</Layout>
