---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About' activeNav='About'>
  <h1 class='h1'>About</h1>
  <p>This is the about page.</p>

  <p>
    It is written in <a class='link' href='https://astro.build'>Astro</a> and deployed on <a
      class='link'
      href='https://vercel.com'>Vercel</a
    >.
  </p>

  <p>
    Design inspiration is taken / stolen from this beautiful blog-page by <a class='link' href='https://mxb.dev/'
      >Max Böck</a
    >
  </p>
</Layout>
