---
import RightArrow from '../components/atoms/rightArrow.astro';
import BlogPreview from '../components/molecules/BlogPreview.astro';
import MoreContentLink from '../components/molecules/MoreContentLink.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home' activeNav='Home'>
  <div class='opacity-0 hero'>
    <a href="/about" class='text-xl text-accent hover:text-accent-hover md:text-2xl lg:text-3xl w-fit'>HELLO, MY NAME IS SINDRE</a>
    <h1 class='mt-6 text-5xl md:text-6xl lg:text-7xl xl:text-8xl'>I make websites.</h1>
    <h2 class='mt-4 text-xl leading-relaxed font-base md:text-3xl md:mt-6'>
      Welcome to a site built with <a class='link' href='https://astro.build'>Astro</a> and <a
        class='link'
        href='https://www.contentful.com/'>Contentful</a
      >. This page is a result of the exploration of said technologies. Have a look in the <a class='link' href='/about'
        >about</a
      > section for more info
    </h2>
  </div>

  <div class='w-full pt-14 md:mt-8'>
    <h2 class='text-4xl'>Featured Posts</h2>

    <!-- Blog previews -->
    <ul class='grid grid-cols-4 gap-6 my-4 md:gap-8 lg:gap-12 sm:my-6 md:my-8'>
      <BlogPreview
        title='This is the title'
        description='This is the description'
        image='https://d27fp5ulgfd7w2.cloudfront.net/wp-content/uploads/2019/01/08160759/tech-blogs-1.jpg'
        linkto='/posts'
      />
      <BlogPreview
        title='This is the title'
        description='This is the description'
        image='https://www.collinsdictionary.com/images/full/square_312901307.jpg'
        linkto='/posts'
      />
      <BlogPreview
        title='This is the title'
        description='This is the description'
        image='https://d27fp5ulgfd7w2.cloudfront.net/wp-content/uploads/2019/01/08160759/tech-blogs-1.jpg'
        linkto='/posts'
      />
      <BlogPreview
        title='This is the title'
        description='This is the description'
        image='https://d27fp5ulgfd7w2.cloudfront.net/wp-content/uploads/2019/01/08160759/tech-blogs-1.jpg'
        linkto='/posts'
      />
    </ul>

    <MoreContentLink text='See all posts' linkto='/posts' />
  </div>
</Layout>

<style is:global>
  /* Hero animation */
  @keyframes heroAnimation {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hero {
    animation: heroAnimation 500ms ease-out 100ms forwards;
  }
</style>
