---
import RightArrow from '../components/atoms/rightArrow.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home' activeNav='Home'>
  <div class='hero'>
    <h3 class='text-xl text-accent hover:text-accent-hover md:text-2xl lg:text-3xl w-fit'>HELLO, MY NAME IS SINDRE</h3>
    <h1 class='text-5xl mt-6 md:text-6xl lg:text-7xl xl:text-8xl'>I make websites.</h1>
    <h2 class='text-xl md:text-3xl mt-4 md:mt-6 leading-relaxed'>
      Welcome to a site built with <a class='link' href='https://astro.build'>Astro</a> and <a
        class='link'
        href='https://www.contentful.com/'>Contentful</a
      >. This page is a result of the exploration of said technologies. Dive deeper into the process <a
        class='link'
        href='/about'>here</a
      >.
    </h2>
  </div>

  <div class='pt-14'>
    <h2 class='text-4xl'>Featured Posts</h2>

    <a class='group flex text-xl text-accent items-center transition-transform duration-200 relative' href='/posts'
      >See All Posts <div class='w-7 group-hover:translate-x-2 transition-transform duration-200'>
        <RightArrow />
      </div></a
    >
  </div>
</Layout>

<style is:global>
  /* Hero animation */
  @keyframes heroAnimation {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hero {
    animation: heroAnimation 0.5s ease-out;
  }
</style>
